body {
    background: url("sprinkles.png");
}

header {
    background-color: #53131E;
    color: #FFEFBD;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: inline-block;
    font-size: 20px;
    padding-top: 15px;
}

.room {
    height: 85vh;
    background: url("tree_bark.png");
}

.floor {
    background-color: #264134;
    position: absolute;
    bottom: 0px;
    height: 20vh;
    width: 100vw;
    margin-left: -15px;
}

.window {
    background-color: rgb(147, 204, 236);
    width: 15vw;
    height: 30vh;
    position: absolute;
    top: 50px;
    left: 40px;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
}

.blinds {
    border-style: groove;
    background-color: rgb(255, 255, 255);
}

#blinds {
    border-style: ridge;
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
}

#blindsString {
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 30vh;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-shadow: -1px 8px 11px 1px rgba(199, 195, 199, 1);
    -moz-box-shadow: -1px 8px 11px 1px rgba(199, 195, 199, 1);
    box-shadow: -1px 8px 11px 1px rgba(199, 195, 199, 1);
}

#pull {
    font-family: 'Lobster', cursive;
    background-color: #53131E;
    color: #FFEFBD;
    width: 3.5vw;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}

#pullMe {
    position: absolute;
    bottom: -35px;
    right: -20px;
    cursor: pointer;
}

#blindsDown {
    height: 0vh;
    overflow: hidden;
}

.pulled {
    -webkit-animation: pulling 2s infinite
}

@keyframes pulling {
    0% {
        height: 30vh
    }
    33% {
        height: 35vh;
    }
    66% {
        height: 40vh;
    }
    90% {
        height: 35vh;
    }
    100% {
        height: 30vh;
    }
}

.down {
    -webkit-animation: goingDown 2s ease-in
}

@keyframes goingDown {
    0% {
        height: 0vh
    }
    33% {
        height: 20vh
    }
    66% {
        height: 30vh
    }
    100% {
        height: 40vh
    }
}

.up {
    -webkit-animation: goingUp 2s ease-in
}

@keyframes goingUp {
    0% {
        height: 30vh;
    }
    33% {
        height: 20vh
    }
    66% {
        height: 10vh
    }
    100% {
        height: 0vh
    }
}

#top {
    width: 30vw;
    height: 5vh;
    background: url("dark_wood.png");
    border-color: rgb(0, 0, 0);
    border: solid;
    position: absolute;
    right: 10vw;
    bottom: 30vh;
}

#legOne, #legTwo {
    position: absolute;
    background: url("dark_wood.png");
    border-color: rgb(0, 0, 0);
    border: solid;
    width: 2vw;
    height: 20vh;
    bottom: 10vh;
    z-index: 1;
}

#legOne {
    right: 10vw;
}

#legTwo {
    right: 38vw;
}

.screen {
    background-color: rgb(41, 41, 41);
    position: absolute;
}

#bottom {
    width: 8vw;
    height: 1vh;
    bottom: 35vh;
    right: 20vw;
}

#stand {
    width: 3vw;
    height: 5vh;
    right: 22.5vw;
    bottom: 36vh;
}
